# Data Science Tools and Ecosystems

## In this Notebook, Data Science Tools and Ecosystems are summarized.

##  **Objective**:
- List libraries commonly used by data scientists
- create a table to list data science tools
- list popular languages used by data scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by data scientists includes:
1. Numpy
2. Pandas
3. TensorFlow

| Data Science Tools |
| --- |
| Apache Spark |
| Apache Hadoop |
| Git |

### Below are a few examples of evaluating arithmatic expression in Python

In [7]:
# this is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [15]:
# this will convert 200 minutes to hours by dividing by 60
200//60

3

## Author
Julie Heinig